repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -   id: check-ast  # Is it valid Python?
            -   id: debug-statements # no debbuging statements used
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
                args: ['--maxkb=2048']  # Allow files up to 2MB (required for images)
            -   id: check-case-conflict
            -   id: check-json
            -   id: pretty-format-json
                args: [ "--autofix" ]
            -   id: check-merge-conflict
            -   id: check-docstring-first
            -   id: requirements-txt-fixer
            -   id: detect-private-key


    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.13.0
      hooks:
          - id: ruff
            # linter.
            args: [ --fix ]
          - id: ruff-format

    -   repo: https://github.com/abravalheri/validate-pyproject
        rev: v0.24.1
        hooks:
            -   id: validate-pyproject

    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.20.0
        hooks:
            -   id: pyupgrade

    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.18.1
        hooks:
            -   id: mypy
                exclude: ^((scripts)/)
                additional_dependencies: []
